.todo{
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--primary-color);
    justify-content: space-between;
    padding: 1rem;
    height: 100%;

    .list{
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        gap: 1rem;


        ul{
            list-style-type: none;
            font-size: 1rem;
        }
    }
}
