.calender{
    width: 40%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 1rem 3rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
     font-variant-numeric: tabular-nums;
     color: var(--font-color);
    
    h5{
        font-size: 2rem;

    }
    .dates{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        backdrop-filter: blur(10px);
        background: transparent;
        padding: 1rem;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        opacity: 0.7;
        border: 2px solid white;

        .week{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        }
        .days-number{
              display: grid;
              grid-template-columns: repeat(7, 1fr); // 7 days
              text-align: center;
              row-gap: 1.5rem;
              column-gap: 0;
              
              
              .balls{
                background-color: gray;
                color: lightgreen;
                border-radius: 50px;
                
              }

             

            
                
                
            
        }
    }
    
}