.temperature{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 1rem;
    border-radius: 20px;

    .left-temp{
        display: flex;
        flex-direction: column;
        
        gap: 2.5rem;

        h3{
            font-size: 2rem;
        }
        h4{
            font-size: 2rem;
        }
    }
    .right-details{
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .button{
            align-self: flex-end;
            cursor: pointer;
        }
        .detail{
            align-self: flex-start;
        }
    }
    .setLocation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--secondary-color);
        height: 10rem;
        width: 20rem;
        border-radius: 20px;
        padding: 1rem;
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        border: 2px solid var(--primary-color);
        button{
            padding: 0.5rem;
            font-size:1rem;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
        button:active{
            transform: scale(0.95);
        }
        input{
            width: 90%;
            height: 30%;
            font-size: 1rem;
            border: none;
            border-radius: 10px;
            padding: 0.5rem;
            font-weight: bold;
        }
    }

}