.quote-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    

    h4{
        font-size: 1.5rem;
        width: 100%;
    }
    span{
        align-self: flex-end;
    }

}