.container{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
.time{
    display: flex;
    
    
    justify-content: center;
    font-size: 15rem;
    padding: 1rem;
    font-weight: 600;
    font-variant-numeric: tabular-nums;

  .ampm{
    font-size: 5rem;
    font-weight: 600;
  }


}