.Lower-side{
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0.8rem 1rem;
    
    

.quote{
    background-color: var(--secondary-color);
    color: var(--font-color);
    width: 30%;
    border-radius: 20px;
    
}
.bottom-right{
    
    width: 30%;
}

}